:root {
  --ultra-light-blue: hsl(188, 34%, 78%);
  --light-blue: hsl(217, 100%, 68%);
  --dark-blue: hsl(217, 59%, 44%);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}



.main-wrapper {
  width: 60%;
  height: 80%;
  margin: 0 auto;
}


.owl-frame {
  height: 80%;
  width: 100%;
  padding-top: 10%;
}

.head-container {
  margin: 0 auto;
}

.owl-head {
  width: 200px;
  height: 200px;
  border-radius: 0 0 35% 35%;
  background-color: var(--light-blue);
  margin: 0 auto;
}

.ears-frame {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0 auto -50px auto;
}

.ear.left {
  width: 0;
  height: 0;
  rotate: 7.5deg;
  border-top: 60px solid red;
  border-right: 60px solid transparent;
}

.ear.right {
  width: 0;
  height: 0;
  rotate: -7.5deg;
  border-top: 60px solid red;
  border-left: 60px solid transparent;
}

.eyes-frame {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.eye {
    border-radius: 50%;
    width: 25%;
    height: 50%;
    padding: 5%;
    background-color: black;
}

.pupil {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #fff;

}




















/* ------------------------------------- Trippy Flower */


 .trippy-flower {
    display: none;
    height: 50%;
    width: 45%;
    margin-top: 10%;
  }
  
  .flower-head {
    width: 20%;
    height: 40%;
    border-radius: 35%;
    margin: 0 auto;
  
    background-color: hsl(217, 100%, 68%);;
  }
  
  .trippy-flower .eyes-frame {
      width: 100%;
      height: 50%;
      background-color: red;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
  }
  
  .trippy-flower .eye {
      border-radius: 50%;
      width: 25%;
      height: 50%;
      padding: 5%;
      background-color: black;
  }
  
  .trippy-flower .pupil {
      width: 40%;
      height: 40%;
      border-radius: 50%;
      background-color: #fff;
  
  }